{{# each products }}
<div class="row">
  {{# each this }}
  <div class="col-sm-6 col-md-4">

    <div class="thumbnail">
      <img src="{{this.imagePath}}">
      <div class="caption">
        <h3>{{this.title}}</h3>
        <p class= "description">{{this.description}}</p>
        <div class="clearfix">
            <div class="price pull-left"> {{ this.price }} COP</div>
            <a href="/add-to-cart/" class="btn btn-success pull-right" role="button">Comprar</a>
        </div>
      </div>
    </div>

  </div>
  {{/ each }}


</div>
{{/ each }}


{{!-- 
<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="images/1.jpg" alt= "..." class= "img-responsive" >
      <div class="caption">
        <h3>Producto 1</h3>
        <p class= "description">Desayuno sorpresa estilo dinosaurio.</p>
        
        <div class="clearfix">
            <div class="price pull-left"> $ 55.000 COP</div>
            <a href="/add-to-cart/" class="btn btn-success pull-right" role="button">Comprar</a>
        </div>

      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="images/2.jpg">
      <div class="caption">
        <h3>Producto 2</h3>
        <p class= "description">...</p>
        <div class="clearfix">
            <div class="price pull-left"> $ 55.000 COP</div>
            <a href="/add-to-cart/" class="btn btn-success pull-right" role="button">Comprar</a>
        </div>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="images/3.jpg">
      <div class="caption">
        <h3>Producto 3</h3>
        <p class= "description">...</p>
        <div class="clearfix">
            <div class="price pull-left"> $ 55.000 COP</div>
            <a href="/add-to-cart/" class="btn btn-success pull-right" role="button">Comprar</a>
        </div>
      </div>
    </div>
  </div>

</div>

<div class="row">
    <div class="col-sm-6 col-md-4">
    
  </div>

  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="images/5.jpg">
      <div class="caption">
        <h3>Producto 5</h3>
        <p class= "description">...</p>
        <div class="clearfix">
            <div class="price pull-left"> $ 55.000 COP</div>
            <a href="/add-to-cart/" class="btn btn-success pull-right" role="button">Comprar</a>
        </div>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="images/6.jpg">
      <div class="caption">
        <h3>Producto 6</h3>
        <p class= "description">...</p>
        <div class="clearfix">
            <div class="price pull-left"> $ 55.000 COP</div>
            <a href="/add-to-cart/" class="btn btn-success pull-right" role="button">Comprar</a>
        </div>
      </div>
    </div>
  </div>
  
</div> --}}